{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Breathing space details submitted</h1>
        <div class="govuk-panel__body">
          Claim number<br><strong>00MC15</strong>
        </div>
      </div>

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>Breathing space will now be active until you lift breathing space.</p>
      <p><a href="/case-dashboard2-enter">Return to case overview</a></p>


    </div>
  </div>

{% endblock %}
