{% extends "layout.html" %}

{% block pageTitle %}
  Enter-breathing-space
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">#1562-6624-5759-3841</span>

      <h1 class="govuk-heading-xl">Enter breathing space</h1>
      <span class="govuk-caption-l">#1562-6624-5759-3841</span>

      <form class="form" action="/check-answers-enter" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Reference Number (Optional)
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend">
              When didit start? (Optional)
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              This is the date it started, not the date you received notification of it (optional). For e.g. 15 11 2020
            </div>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
              What type is it?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="what-type-is-it" name="what-type-is-it" type="radio" value="Standard-Breathing-Space">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Standard Breathing Space
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="what-type-is-it-2" name="what-type-is-it" type="radio" value="Mental-Health">
                <label class="govuk-label govuk-radios__label" for="What-type-is-it-2">
                  Mental Health Crises Moratorium
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend">
              Expected end date (Optional)
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              This is the end date that it is due to finish (optional). For example, 17 11 2020
            </div>
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Event summary (Optional)
          </label>
          <div id="event-name-hint" class="govuk-hint">
            A few words describing the purpose of the event.
          </div>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="more-detail">
            Event description (Optional)
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Previous
          </button>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </div>

      </form>

    </div>
  </div>

{% endblock %}
