
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">
    Civil prototype
  </h1>

  <h2 class="govuk-heading-l">Breathing Space</h2>

  <h3 class="govuk-heading-m">Enter Breathing Space</h3>
  <p><a href="/case-dashboard-enter" class="govuk-link govuk-link--no-visited-state">Current version</a></p>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Previous versions
      </span>
    </summary>
    <div class="govuk-details__text">
      <p><a href="" class="govuk-link govuk-link--no-visited-state">Version x</a> &ndash; xx September 2021</p>
    </div>
  </details>

  <h3 class="govuk-heading-m">Lift Breathing Space</h3>
  <p><a href="/lift-breathing-space" class="govuk-link govuk-link--no-visited-state">Current version</a></p>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Previous versions
      </span>
    </summary>
    <div class="govuk-details__text">
      <p><a href="" class="govuk-link govuk-link--no-visited-state">Version x</a> &ndash; xx September 2021</p>
    </div>
  </details>





</div>
</div>

{% endblock %}
