{% extends "layout.html" %}

{% block pageTitle %}
  Enter-breathing-space
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Lift Breathing Space</h1>
      <h2 class="govuk-heading-l">#1562-6624-5759-3841</h2>

      <form class="form" action="/check-answers-lift" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend">
              When did it end?
            </legend>
            <div id="passport-issued-hint" class="govuk-hint">
              This is the date that you have been instructed it will finish
            </div>
            <div class="govuk-date-input" id="lift-breathing">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="lift-breathing-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="lift-breathing-day" name="lift-breathing-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="lift-breathing-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="lift-breathing-month" name="lift-breathing-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="lift-breathing-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="lift-breathing-year" name="lift-breathing-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            Event summary (Optional)
          </label>
          <div id="event-name-hint" class="govuk-hint">
            A few words describing the purpose of the event.
          </div>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="more-detail">
            Event description (Optional)
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Previous
          </button>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </div>

      </form>

    </div>
  </div>

{% endblock %}
